- share_facebook = "https://www.facebook.com/sharer.php?u=#{u current_city_url}&t=#{u city_title}"
- share_twitter  = "https://twitter.com/intent/tweet?text=#{u city_title}&url=#{u current_city_url}%2F&via=#{CONFIG[:twitter_user]}"
- share_google   = "https://plus.google.com/share?url=#{u current_city_url}"

#share-box.barsection
  .separator
  %h3.barsection-title Compartir
  #share-buttons
    #share-facebook
      =share_button "Compartir en Facebook", share_facebook
    #share-twitter
      =share_button "Compartir en Twitter", share_twitter
    #share-google
      =share_button "Compartir en Google+", share_google
