#buses-info{class: ("toggled" if show_bus_info?)}
  .toggle{"data-toggled" => "&#9650;", "data-not-toggled" => "&#9660;", title: t('views.buses.bus_info.toggle')}
    != show_bus_info? ? "&#9650;" : "&#9660;"
  .bus-info{id: "bus-info-#{bus.id}"}
    %h2{title: t("views.buses.bus_info.line", bus: bus.name)}= bus.name
    -#= render partial: "/shared/bus-data", locals: {bus: bus}
    -#.bus-pictures
    .bus-routes
      .bus-departure-route
        %span{title: t("views.buses.bus_info.departure_route")} #{t "views.buses.bus_info.departure"}:
        != bus.departure_route.formatted_addresses
      .bus-return-route
        %span{title: t("views.buses.bus_info.return_route")} #{t "views.buses.bus_info.return"}:
        != bus.return_route.formatted_addresses
    .separator