#buses-info
  .bus-info{id: "bus-info-#{bus.id}"}
    %h2{title: "Línea #{bus.name}"}= bus.name
    -#= render partial: "/shared/bus-data", locals: {bus: bus}
    -#.bus-pictures
    .bus-routes
      .bus-departure-route
        %span{title: "Recorrido de ida"} #{t "views.buses.departure"}:
        = bus.departure_route.addresses
      .bus-return-route
        %span{title: "Recorrido de vuelta"} #{t "views.buses.return"}:
        = bus.return_route.addresses
    .separator