#buses-directions.barsection.toggleable.toggled
  .toggler
    .separator
    %h3.barsection-title= t('views.directions.title')
    =toolbar_toggler

  .toggleable-data
    #directions-checkpoints
      #checkpoints-tools
        %a#current-position-checkpoint{title: t('views.directions.use_current_position')}<>
          = t('views.directions.use_current_position')
        %a#switch-checkpoints{title: t('views.directions.exchange_origin_destination')}
          = t('views.directions.exchange_origin_destination')

      - {"1" => :origin, "2" => :destination}.each_pair do |i, checkpoint|
        .checkpoint-input{id: "checkpoint-#{i}"}
          %h4 #{t("views.directions.#{checkpoint}")}:
          %input{type: "search", autofocus: ("true" if checkpoint == :origin), value: named_checkpoint(checkpoint)}
          .empty-input &times;
          .checkpoint-service-unavailable= t('views.directions.service_unavailable')
          .checkpoint-not-found= t('views.directions.not_found')
          %ul.checkpoint-autocomplete

    #buses-directions-slider
      .slider-rail
      .slider{title: t('views.directions.slider_title')}
        %span.slider-title= t('views.directions.slider_title')
        %span.slider-number> 0
        m

    #buses-directions-legend
      .bus-name{title: t('views.directions.line_name')}
        .direction-legend-background= t('views.directions.line_name')
      .walking-distance{title: t('views.directions.walking_distance')}
        .direction-legend-background= t('views.directions.walking_distance')
      .route-distance{title: t('views.directions.route_distance')}
        .direction-legend-background= t('views.directions.walking_distance')
    #buses-directions-tooltip
      != t('views.directions.tooltip')
    #buses-directions-tooltip-no-buses
      != t('views.directions.tooltip_no_buses')
    #list-of-directions
    #bus-direction-template.bus-direction
      .bus-name.bus-name-value! &nbsp;
      .walking-distance{"data-title-start" => "Metros a caminar hasta la parada",
                        "data-title-middle" => "Metros a caminar desde la parada hasta la otra parada",
                        "data-title-end" => "Metros a caminar desde la parada"}
      .route-distance