:javascript
  window.sell_locations_editor_data = #{@city.to_sell_locations_editor_json};

= semantic_form_for [:admin, @city] do |f|
  = f.inputs do
    = f.input :bus_card
    = f.input :bus_cash
    = f.input :bus_ticket
    -#= f.input :json_sell_locations, as: :text
    %li#sell_locations_container
      %div#sell_location_template.sell_location
        %input{name: "city[sell_locations_attributes][0][id]",             type: "hidden"}
        %input{name: "city[sell_locations_attributes][0][lat]",            type: "hidden"}
        %input{name: "city[sell_locations_attributes][0][lng]",            type: "hidden"}
        %input{name: "city[sell_locations_attributes][0][_destroy]",       type: "hidden"}
        %input{name: "city[sell_locations_attributes][0][address]",        type: "text",     placeholder: "Dirección"}
        %input{name: "city[sell_locations_attributes][0][name]",           type: "text",     placeholder: "Nombre"}
        %input{name: "city[sell_locations_attributes][0][info]",           type: "text",     placeholder: "Información"}
        %select{name: "city[sell_locations_attributes][0][card_selling]",   type: "checkbox", title: "Venta de tarjetas"}
          %option{value: ''}  Card selling
          %option{value: '1'} Yes
          %option{value: '0'} No

        %select{name: "city[sell_locations_attributes][0][card_reloading]", type: "checkbox", title: "Recarga de tarjetas"}
          %option{value: ''}  Card reload
          %option{value: '1'} Yes
          %option{value: '0'} No

        %select{name: "city[sell_locations_attributes][0][ticket_selling]", type: "checkbox", title: "Venta de boletos"}
          %option{value: ''}  Ticket selling
          %option{value: '1'} Yes
          %option{value: '0'} No
        .remove X
        
  = f.actions :submit

#map
  -#name = city[sell_locations][0][name]