:javascript
  window.sell_locations_editor_data = #{@city.to_sell_locations_editor_json};

= semantic_form_for [:admin, @city] do |f|
  = f.inputs do
    = f.input :bus_card
    = f.input :bus_cash
    = f.input :bus_ticket

    %li#sell_locations_container
      %div#sell_location_template.sell_location
        = fields_for "city[sell_locations_attributes][0]" do |ff|
          = ff.hidden_field :id
          = ff.hidden_field :lat
          = ff.hidden_field :lng
          = ff.hidden_field :_destroy
          = ff.text_field   :address, placeholder: "Dirección"
          = ff.text_field   :name, placeholder: "Nombre"
          = ff.text_field   :info, placeholder: "Info"
          = ff.select :card_selling, {"Venta de tarjetas" => '', 'Sí' => 1, 'No' => 0}
          = ff.select :card_reloading, {"Recarga de tarjetas" => '', 'Sí' => 1, 'No' => 0}
          = ff.select :ticket_selling, {"Venta de tickets" => '', 'Sí' => 1, 'No' => 0}
          %label
            Visib
            = ff.check_box :visibility, title: "Visibilidad"
          %label
            Inexa
            = ff.check_box :inexact, title: "Inexacto"
          %label
            Manual
            = ff.check_box :manual_position, title: "Posicionamiento manual"

        .remove X
        
  = f.actions :submit

#map
  -#name = city[sell_locations][0][name]