- @sell_locations_suggestion = SellLocationsSuggestion.new if not @sell_locations_suggestion
- @city                     = @sell_locations_suggestion.city if not @city

= semantic_form_for @sell_locations_suggestion do |f|
  = f.semantic_errors :base

  = f.inputs do
    %li.left
      %ol
        = f.input :lat, as: :hidden
        = f.input :lng, as: :hidden
        = f.input :sell_location_id, as: :hidden
        = f.input :user_name
        = f.input :user_email
        = f.input :address
        = f.input :name
    %li.right
      %ol
        = f.input :info, as: :text
        = f.input :comment, as: :text, label: false, title: "Comentario"
    %li.selling-info
      %ol
        - if not @city or @city.show_bus_card
          = f.input :card_selling,   as: :select, collection: yes_no_collection, prompt: "Desconocido"
          = f.input :card_reloading, as: :select, collection: yes_no_collection, prompt: "Desconocido"
        - if not @city or @city.show_bus_ticket
          = f.input :ticket_selling, as: :select, collection: yes_no_collection, prompt: "Desconnocido"

    %li.remove-input
      %ol
        = f.input :removed, as: :boolean

  = f.actions do
    = f.action :submit

.paledator