- content_for :head do
  :javascript
    $(document).ready(function(){
      new City(#{@city.to_map_json});
    });

#map-container
  #bus-popup-template.bus-popup
    .positioner
      %span.bus-number
      .bus-popup-arrow

  -##bus-quick-info
  -#  %h2= @city.name
  -#  = render partial: "/shared/bus-data", locals: {bus: @city, light_icons: true}
  -#  .absolute-light
  #map

    
#toolbar
  .padding
    #header
      %h1
        %image{src: "/assets/header.png", alt: t('views.buses.header.logo_title', city: @city.name)}

    #header-bar
      #toggle-help{title: t('views.buses.header_bar.help'), class: ('toggled' if show_help_tips?)} Ayuda
      #city-bus-price{title: t('views.buses.header_bar.ticket_price', city: @city.name)}
        %span.bus-price-icon Precio del boleto:
        %span.bus-price-money= monetize @city.bus_card

    .separator

    - if @buses.size == 1
      = render partial: 'shared/bus_info', locals: {bus: @buses[0]}


    #tooltips{class: ('hidden' if !show_help_tips?)}
      - %w{map_click many_clicks remove_checkpoint move_checkpoint invert_checkpoints more_buses close_help}.each do |tooltip|
        %div{id: "tooltip-#{tooltip}"}
          = raw t("views.buses.tooltips.#{tooltip}")
      .close &times;

      .separator


    #buses-directions
      #buses-directions-legend
        .bus-name{title: t('views.buses.directions.line_name')}
          .direction-legend-background Nombre de la línea
        .walking-distance{title: t('views.buses.directions.walking_distance')}
          .direction-legend-background Distancia total que deberías caminar
        .route-distance{title: t('views.buses.directions.route_distance')}
          .direction-legend-background Distancia total que recorrerías en colectivo
      #buses-directions-tooltip
        Haz click en el mapa para calcular las rutas más cercanas.
      #list-of-directions
        #bus-direction-template.bus-direction
          .bus-name.bus-name-value
          .walking-distance
            %span.walking-distance-value>
            m
          .route-distance
            %span.route-distance-value>
            km

      #add-remove-buses-directions
        %span.plus{title: t('views.buses.directions.show_another_route')}> +
        %span.minus{title: t('views.buses.directions.show_one_less_route')} -

      .separator


    #buses-groups
      - @city.bus_groups.each do |bus_group|
        - if bus_group.visible_buses?
          .buses-group-container
            .bus-group.slot{id: "bus-group-#{bus_group.id}"}= bus_group.name
            .buses-container
              - bus_group.buses_batches(7) do |buses_batch|
                .buses-batch
                  .buses-batch-rail
                  .buses-batch-slots
                    - buses_batch.each do |bus|
                      - if bus
                        = bus_link(bus)

    .separator

    #facebook-like-box
      :erb
        <div class="fb-like-box" data-href="http://mapadecolectivosmdp.com.ar" data-width="280" data-height="150" data-colorscheme="dark" data-show-faces="false" data-border-color="#132230" data-stream="true" data-header="false"></div>

    .separator

    #copyright{title: t('views.buses.copyright.title')}
      %p= t('views.buses.copyright.first_line')
      %p= t('views.buses.copyright.second_line')
