!!!
%html
  %head
    - if @bus
      %title= t('views.head.title_bus', bus: @bus.name, city: @city.name)
    - elsif @city
      %title= t('views.head.title_city', city: @city.name)
    - else
      %title= t('views.head.title')
    =stylesheet_link_tag    "application", media: "all"
    =javascript_include_tag CONFIG[:gmaps_url]
    =javascript_include_tag "application"
    =csrf_meta_tags
    - if content_for? :head
      = content_for :head
    %link{rel: "shortcut icon", type: "image/x-icon", href: "/favicon.ico"}
    
  %body
    :erb
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1&appId=315368068495272";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
    = yield
